/************************** Main **************************/



/* Main Background */

.wrapper-img {
    overflow: hidden;
    position: relative;
    top: 50% !important;
    left: 60%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 90vh;
    z-index: 0;
}

.box-1 {

    width: 100%;
    height: 100%;
    background: #FFF2C5;
}


.box {
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}


.box-2 {
    position: absolute;
    background: #F0D0AA;
    top: 0%;
    right: 35%;
    height: 70%;
    width: 30%;
}

/************************** Content **************************/



.contents-container {
    width: 35%;
    position: absolute;
    top: 35%;
    right: -15%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.sidebar-title {

    font-size: 30px;
}

.sidebar-contents {

    font-size: 15px;
}

.link-about {
    margin-top: 10px;
    font-weight: 500;
    border-bottom: 2px solid;
}

/* Welcome */

.welcome {
    position: absolute;
    top: 70%;
    left: 18%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: glacial indifference, sans-serif;
    text-transform: uppercase;
    z-index: 10;

}

.welcome h1 {

    margin: 0;
}

.welcome-1 .letter {
    display: inline-block;
    line-height: 1em;
    font-size: 80px;
}

.welcome-2 .letter {
    display: inline-block;
    line-height: 1em;
    font-size: 80px;
}



/* Footer */

.menu-footer {
    width: 65%;
    height: 20%;
    position: fixed;
    bottom: 0%;
    right: 0%;
    background-color: #fff;
}

.menu-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* Media queries */

@media (max-width: 900px) {
    .wrapper-img {
        width: 90%;
    }

    .welcome {
        top: 50%;
        left: 50%;
        text-align: center;
    }

    .welcome h1 {
        font-size: 40px;
    }

    .projects,
    .img-nav {
        display: none;
    }
}