/* Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: glacial indifference;
    src: url(font/GlacialIndifference-Regular.otf);
}

/* Reset */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

/************************** Header **************************/

.menu {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}



.menu-item {
    flex: 1;
}

.menu-left {
    text-align: left;
    font-family: glacial indifference, sans-serif;
    margin-left: 20px;
}

.logo-1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.9mm;
}

.logo-2 {
    font-size: 20px;
    margin-top: -4mm;
    letter-spacing: -0.4mm;
}

.menu-right {
    text-align: right;
}

.menu-link {
    padding: 0 20px;
}



/************************** Main **************************/

/* Loader  */

.wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8%;
    height: 20vh;
    background: #fff;
    z-index: 0;
}

/* Main Background */

.wrapper-img {
    overflow: hidden;
    position: relative;
    top: 50% !important;
    left: 60%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: 90vh;
    z-index: 0;
}

.box-1 {

    width: 100%;
    height: 100%;
    background: #FFF2C5;
}


.box {
    background: #fff;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}


.box-2 {
    position: absolute;
    background: #F0D0AA;
    top: 0%;
    right: 35%;
    height: 70%;
    width: 30%;
}

/************************** Content **************************/



.contents-container {
    width: 35%;
    position: absolute;
    top: 35%;
    right: -15%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.sidebar-title {

    font-size: 30px;
}

.sidebar-contents {

    font-size: 15px;
}

.link-about {
    margin-top: 10px;
    font-weight: 500;
    border-bottom: 2px solid;
}

/* Welcome */

.welcome {
    position: absolute;
    top: 70%;
    left: 18%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: glacial indifference, sans-serif;
    text-transform: uppercase;
    z-index: 10;

}

.welcome h1 {

    margin: 0;
}

.welcome-1 .letter {
    display: inline-block;
    line-height: 1em;
    font-size: 80px;
}

.welcome-2 .letter {
    display: inline-block;
    line-height: 1em;
    font-size: 80px;
}



/* Footer */

.menu-footer {
    width: 65%;
    height: 20%;
    position: fixed;
    bottom: 0%;
    right: 0%;
    background-color: #fff;
}

.menu-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/* Media queries */

@media (max-width: 900px) {
    .wrapper-img {
        width: 90%;
    }

    .welcome {
        top: 50%;
        left: 50%;
        text-align: center;
    }

    .welcome h1 {
        font-size: 40px;
    }

    .projects,
    .img-nav {
        display: none;
    }
}